doctype html
html
  head
    title Hello World : )!
    link(rel="stylesheet", href="css/main.css")
  body
    h1 Used jade to generate this
    p It seems like it's working! more text !
    p what's popping?
    script(src="js/main.js")
